@keyframes float {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(0.75rem);
  }
  100% {
    transform: translatey(0);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
html body {
  background: #fafafa;
  font-family: "ubuntu";
}

.wrapper {
  width: 65%;
  margin: 0 auto;
  min-height: inherit;
}

.v-padding {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex.column {
  flex-direction: column;
}
.flex.gap__1 {
  gap: calc(1rem * 1);
}
.flex.gap__2 {
  gap: calc(1rem * 2);
}
.flex.gap__3 {
  gap: calc(1rem * 3);
}
.flex.gap__4 {
  gap: calc(1rem * 4);
}
.flex.gap__5 {
  gap: calc(1rem * 5);
}
.flex.gap__6 {
  gap: calc(1rem * 6);
}
.flex.gap__7 {
  gap: calc(1rem * 7);
}
.flex.gap__8 {
  gap: calc(1rem * 8);
}
.flex.gap__9 {
  gap: calc(1rem * 9);
}
.flex.gap__10 {
  gap: calc(1rem * 10);
}

.text-white {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

p {
  line-height: 150%;
}

hr {
  width: 100%;
}

#lang-slider {
  position: absolute;
  top: 0;
  right: 0;
  height: 2rem;
  width: 4rem;
  position: relative;
  background: #efefef;
  cursor: pointer;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
  user-select: none;
}
#lang-slider .option1,
#lang-slider .option2,
#lang-slider .slider {
  height: 100%;
  width: 50%;
  position: absolute;
  text-align: center;
  line-height: 2rem;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #000138;
}
#lang-slider .option1 {
  left: 0;
}
#lang-slider .option2 {
  right: 0;
}
#lang-slider .slider {
  position: absolute;
  right: 0;
  height: 92%;
  width: 46%;
  border-radius: 2rem;
  background-color: #000138;
  top: 4%;
  left: 4%;
  transition: transform cubic-bezier(1, 0.11, 1, 1.04) 400ms, background-image 200ms ease 200ms;
  background-image: url("/assets/img/da_flag.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#lang-slider .slider.switch {
  transform: translateX(100%);
  background-image: url("/assets/img/eu_flag.png");
}

#topbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
#topbar .grid-wrapper {
  display: grid;
  grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
}
#topbar .grid-wrapper .identity {
  grid-column: 2;
  padding: 0.5rem 0;
}
#topbar .grid-wrapper .identity .signature img {
  max-height: 2.5em;
  width: auto;
  transition: all ease-out 75ms;
}
#topbar .grid-wrapper .identity .signature img:hover {
  transform: scale(105%);
}
#topbar .grid-wrapper .identity .links {
  cursor: default;
  font-size: 0.8em;
  font-family: "Merriweather Sans";
}
#topbar .grid-wrapper .identity .links a {
  text-decoration: none;
  color: blue;
}
#topbar .grid-wrapper .identity .links a:hover {
  text-decoration: underline;
  cursor: pointer;
}
#topbar .grid-wrapper .lang {
  grid-column: 3;
  display: flex;
  justify-content: end;
  align-items: start;
}

header {
  max-width: 100vw;
  scroll-snap-align: end;
  min-height: 70vh;
  position: relative;
}
header .title-container h1 {
  font-size: 11em;
  color: #000138;
  font-family: "Times New Roman", Times, serif;
}
header .scroll-container a {
  color: #000138;
  animation: float 4s ease-in-out infinite;
  margin: 0.5rem;
  padding: 0.5rem;
  height: 3em;
  width: 3em;
  border-radius: 100%;
  transition: all 100ms ease-out;
}
header .scroll-container a i {
  font-size: 1.5em;
  color: #000138;
  transition: all 200ms ease-out;
  position: absolute;
}
header .scroll-container a:hover {
  background-color: rgba(0, 0, 0, 0.035);
}
header .scroll-container a:hover i {
  transform: scale(110%);
}

#about {
  scroll-snap-align: start;
  min-height: 95vh;
  background: rgb(75, 108, 183);
  background: linear-gradient(90deg, rgb(75, 108, 183) 0%, rgb(24, 40, 72) 100%);
  background-attachment: fixed;
}
#about .portrait-wrapper {
  overflow: hidden;
  border-radius: 8rem 2rem 2rem 2rem;
  transition: all 500ms ease-out;
  max-height: 25rem;
}
#about .portrait-wrapper img {
  max-height: inherit;
  width: auto;
  transition: all 700ms ease-out;
  transform: scale(103%);
}
#about .portrait-wrapper:hover {
  border-radius: 6rem 2rem 2rem 2rem;
}
#about .portrait-wrapper:hover img {
  filter: grayscale(100%);
  transform: scale(101%);
}
#about .text-container h3 {
  font-size: 3.5em;
}
#about .text-container p {
  font-size: 1.2em;
}

#legal {
  position: fixed;
  bottom: 0.3em;
  width: 100%;
  color: silver;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000000000000000;
  font-family: "merriweather sans";
  font-size: 0.8em;
}
#legal small .cvr {
  color: inherit;
  text-decoration: none;
}
#legal small:hover .cvr {
  text-decoration: underline;
}

footer {
  scroll-snap-align: end;
  min-height: 85vh;
  background: #efefef;
  position: relative;
}
footer .legal-slot {
  background-color: #000138;
  height: 1.4em;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 50;
}
footer .footer {
  min-height: calc(85vh - 1.4em);
}
footer .footer .wrapper {
  justify-content: space-around;
}
footer .footer .wrapper .call-to-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer .wrapper .call-to-action .text {
  text-align: center;
}
footer .footer .wrapper .call-to-action .text h3 {
  font-size: 3em;
}
footer .footer .wrapper .call-to-action .text p {
  font-size: 1.2em;
}
footer .footer .wrapper .call-to-action .copy-mail {
  background-color: white;
  border-radius: 1rem;
  position: relative;
  display: flex;
}
footer .footer .wrapper .call-to-action .copy-mail input,
footer .footer .wrapper .call-to-action .copy-mail button {
  border: none;
  outline: none;
  margin: 0;
  padding: 1rem;
  font-size: 1.5em;
}
footer .footer .wrapper .call-to-action .copy-mail input {
  border-radius: inherit;
}
footer .footer .wrapper .call-to-action .copy-mail button {
  border-radius: 0 1rem 1rem 0;
  background-color: #000138;
  display: inline-block;
  color: white;
  cursor: pointer;
}
footer .footer .wrapper .call-to-action .copy-mail button:focus, footer .footer .wrapper .call-to-action .copy-mail button:hover {
  background-color: #000152;
}
footer .footer .wrapper .call-to-action .copy-mail button:active i {
  transform: scale(90%);
}
footer .footer .wrapper .call-to-action .copy-mail:focus-within {
  outline-style: solid;
  outline-color: #e5e5e5;
}
footer .footer .wrapper .call-to-action .copy-mail:before {
  transition: all 250ms ease-in-out;
  content: "Mail kopieret";
  position: absolute;
  color: red;
  font-size: 0.8em;
  bottom: -1.4em;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  left: calc(50% - 3rem);
  opacity: 0%;
}
footer .footer .wrapper .call-to-action .copy-mail.copied:before {
  opacity: 100%;
}
footer .footer .wrapper .logo-references {
  width: 100%;
}
footer .footer .wrapper .logo-references .logos {
  justify-content: space-evenly;
  width: 100%;
}
footer .footer .wrapper .logo-references .logos .logo-wrapper {
  transition: all ease-out 75ms;
}
footer .footer .wrapper .logo-references .logos .logo-wrapper img {
  width: auto;
}
footer .footer .wrapper .logo-references .logos .logo-wrapper img.to-be-digital {
  height: 3rem;
}
footer .footer .wrapper .logo-references .logos .logo-wrapper img.as-estate {
  height: 12rem;
}
footer .footer .wrapper .logo-references .logos .logo-wrapper img.logo-ipsum {
  height: 10rem;
}
footer .footer .wrapper .logo-references .logos .logo-wrapper:hover {
  transform: scale(105%);
}

.custom-shape-divider-top-1690259895 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1690259895 svg {
  position: relative;
  display: block;
  width: calc(117% + 1.3px);
  height: 248px;
}

.custom-shape-divider-top-1690259895 .shape-fill {
  fill: #fafafa;
}

.custom-shape-divider-bottom-1690115726 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690115726 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 124px;
}

.custom-shape-divider-bottom-1690115726 .shape-fill {
  fill: #fafafa;
}

.custom-shape-divider-bottom-1690115726 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690115726 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 124px;
}

.custom-shape-divider-bottom-1690115726 .shape-fill {
  fill: #fafafa;
}

.custom-shape-divider-bottom-1690112102 {
  position: absolute;
  bottom: 1.4em;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690112102 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 28px;
}

.custom-shape-divider-bottom-1690112102 .shape-fill {
  fill: #000138;
}

.custom-shape-divider-top-1690152900 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1690152900 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1690152900 .shape-fill {
  fill: #fafafa;
}

main section {
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  background-color: #fafafa;
}

#portfolio {
  scroll-snap-align: end;
}/*# sourceMappingURL=style.css.map */