*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
}

header {
  height: 100vh;
  max-width: 100vw;
  scroll-snap-align: start;
}

header .landing {
  height: 100%;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .landing h1 {
  font-size: 11em;
}

#topbar {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0;
  /*filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.4));*/
}

#topbar .signature {
  height: 2.5em;
  width: auto;
}

#some-links {
  width: 100%;

  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
}

#some-links a {
  text-decoration: none;
  color: blue;
  font-size: 1.1em;
}

#some-links a:hover {
  text-decoration: underline;
  cursor: pointer;
}

main section {
  min-height: 100vh;
  max-width: 100vw;
  scroll-snap-align: start;
}

#about {
  background-color: blue;
}

#portfolio {
  background-color: green;
}

#testimonials {
  background-color: red;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #bcbcbc;

  scroll-snap-align: end;
}

footer .bye-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
}

footer .legal-section {
  background-color: #a9a9a9;
  height: 1.6em;
}

#legal {
  position: fixed;
  bottom: 0.3rem;
  width: 100%;

  color: black;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 100;
}

#legal .cvr {
  color: inherit;
  text-decoration: none;
}

#legal small:hover .cvr {
  text-decoration: underline;
  color: blue;
}
