---
import CopyToClipboard from '../CopyToClipboard.astro';
---

<footer class="flow-root | bg-neutral-150">
  <div class="my-24">
    <section class="container flow text-center | py-6">
      <div>
        <h3 class="fs-700 fw-bold">Henvendelser?</h3>
        <p class="">Tøv ikke med at sende mig en mail :)</p>
      </div>
      <CopyToClipboard
        type="email"
        value="mail@alexandersandholdt.dk"
        size="24"
      />
    </section>

    <section id="logo-references" class="container mx-auto | py-6">
      <hr />

      <div
        id="logos"
        class="container even-columns | my-16"
        style="--grid-gap: 4em"
      >
        <div class="logo-wrapper | flex" data-flex="center">
          <a href="https://www.to-be-digital.dk/" target="_blank"
            ><img src="img/logos/to-be-digital.png" alt="" /></a
          >
        </div>
        <div class="logo-wrapper | flex" data-flex="center">
          <a href="https://estate.alexandersandholdt.dk/" target="_blank"
            ><img src="img/logos/as-estate.png" alt="" /></a
          >
        </div>
      </div>

      <hr />
    </section>
  </div>

  <div id="legal-box" class="bg-brand-400">
    <small>Copyright &copy; 2023 Alexander Sandholdt | CVR: 43768085</small>
  </div>

  <div id="legal-statement">
    <!-- Legal: Copyright © (&copy;) 2023 Alexander Sandholdt | CVR: 43768085 (https://datacvr.virk.dk/enhed/virksomhed/43768085) -->
    <small>
      Copyright &copy;
      <span class="copyright-year"></span>
      Alexander Sandholdt |
      <a
        class="cvr"
        href="https://datacvr.virk.dk/enhed/virksomhed/43768085"
        target="_blank">CVR: 43768085</a
      ></small
    >
  </div>
</footer>

<style lang="scss">
  @use '../../sass/abstracts';

  #logo-references {
    #logos {
      $img-width: 15em;
      .logo-wrapper {
        a {
          max-width: 15em;
          height: auto;

          img {
            @include abstracts.zoom;
          }
        }
      }
    }
  }

  $legal-spacing: 0.5rem;
  #legal-box,
  #legal-statement {
    font-family: font-family(merriweather-sans);
    font-size: 0.8em;
    line-height: 0.8em;
  }

  #legal-box {
    small {
      opacity: 0;
    }

    padding-block: $legal-spacing;
  }

  #legal-statement {
    position: fixed;
    bottom: $legal-spacing;
    left: 0;
    right: 0;
    z-index: 99;

    text-align: center;
    cursor: default;

    * {
      color: silver;
      text-decoration: none;
    }

    &:hover .cvr {
      text-decoration: underline;
    }
  }
</style>

<script>
  document
    .querySelector('.copyright-year')
    .appendChild(document.createTextNode(new Date().getFullYear()));
</script>
