<header>
  <div id="topbar">
    <a class="signature" href="#"><img src="img/signature.png" alt="" /></a>

    <!-- Links: instagram/alexandersandholdt, in/alexandersandholdt, mail@alexandersandholdt.dk -->
    <div class="links flex row gap-1">
      <a href="https://instagram.com/alexandersandholdt" target="_blank"
        >instagram/alexandersandholdt</a
      >
      <span> &#x2022;</span>
      <a href="https://www.linkedin.com/in/alexandersandholdt/" target="_blank"
        >in/alexandersandholdt</a
      >
      <span> &#x2022;</span>
      <a href="mailto:mail@alexandersandholdt.dk">mail@alexandersandholdt.dk</a>
    </div>
  </div>
</header>
