<div class="flex">
  <div id="topbar">
    <div
      class="container flex | my-1"
      data-type="fluid"
      data-flex="center"
      data-flex-direction="column"
    >
      <a class="signature" href="#"><img src="img/signature.png" alt="" /></a>

      <!-- Links: instagram/alexandersandholdt, in/alexandersandholdt, mail@alexandersandholdt.dk -->
      <div class="links">
        <a href="https://instagram.com/alexandersandholdt" target="_blank"
          ><span class="text">instagram/alexandersandholdt</span>
          <span class="icon"><i class="fa-brands fa-instagram"></i></span>
        </a><span class="dot">&#x2022;</span><a
          href="https:www.linkedin.com/in/alexandersandholdt"
          target="_blank"
          ><span class="text">in/alexandersandholdt</span>
          <span class="icon"><i class="fa-brands fa-linkedin-in"></i></span>
        </a><span class="dot">&#x2022;</span><a
          href="mailto:mail@alexandersandholdt.dk"
          ><span class="text">mail@alexandersandholdt.dk</span>
          <span class="icon"><i class="fa-solid fa-envelope"></i></span>
        </a>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  @use '../../sass/abstracts' as *;

  #topbar {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;

    /* From https://css.glass */
    background: hsla(0, 0%, 95%, 0.4);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);

    .signature {
      img {
        max-height: 2.5em;
        width: auto;

        @include zoom();
      }
    }

    .links {
      cursor: default;
      font-size: 0.8em;
      font-family: 'Merriweather Sans';

      display: flex;
      gap: 2rem;

      a {
        text-decoration: none;
        display: block;

        .text {
          display: none;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .icon {
          font-size: 2em;

          display: flex;
          justify-content: center;
          align-items: center;

          color: color(brand, 200);
        }

        @include mq(md) {
          .text {
            display: initial;
          }
          .icon {
            display: none;
          }
        }
      }

      .dot {
        user-select: none;
        display: none;
      }

      @include mq(md) {
        gap: 0.125rem;
        .dot {
          display: initial;
        }
      }
    }
  }
</style>
