#about {
  background: rgb(75, 108, 183);
  background: linear-gradient(
    90deg,
    rgba(75, 108, 183, 1) 0%,
    rgba(24, 40, 72, 1) 100%
  );
  background-attachment: fixed;

  .portrait-wrapper {
    overflow: hidden;
    border-radius: 8rem 2rem 2rem 2rem;
    transition: all 500ms ease-out;
    max-height: 25rem;

    img {
      max-height: inherit;
      width: auto;
      transition: all 700ms ease-out;
      transform: scale(103%);
    }

    &:hover {
      border-radius: 6rem 2rem 2rem 2rem;

      img {
        filter: grayscale(100%);
        transform: scale(101%);
      }
    }
  }

  .text-container {
    h3 {
      font-size: 3.5em;
    }

    p {
      font-size: 1.2em;
    }
  }
}
