@use 'vars' as *;

.curves-container {
  position: relative;
}

.custom-shape-divider-top-1690259895 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1690259895 svg {
  position: relative;
  display: block;
  width: calc(117% + 1.3px);
  height: 248px;
}

.custom-shape-divider-top-1690259895 .shape-fill {
  fill: $default-background-color;
}

.custom-shape-divider-bottom-1690115726 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690115726 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 124px;
}

.custom-shape-divider-bottom-1690115726 .shape-fill {
  fill: $default-background-color;
}

.custom-shape-divider-bottom-1690115726 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690115726 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 124px;
}

.custom-shape-divider-bottom-1690115726 .shape-fill {
  fill: $default-background-color;
}

.custom-shape-divider-bottom-1690112102 {
  position: absolute;
  bottom: 1.4em;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690112102 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 28px;
}

.custom-shape-divider-bottom-1690112102 .shape-fill {
  fill: $c1;
}

.custom-shape-divider-top-1690152900 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1690152900 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1690152900 .shape-fill {
  fill: $default-background-color;
}
