@use 'alex22379' as a;
@use 'vars' as *;

html {
  scroll-snap-type: y none;
  scroll-behavior: smooth;

  body {
    background: $default-background-color;
    font-family: 'ubuntu';

    header,
    footer {
      scroll-snap-align: start;
    }

    main section {
      scroll-snap-align: start;
      min-height: 100vh;
    }
  }
}
