@use 'alex22379' as a;
@use 'vars' as *;

#site-identity {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100vw;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);

  .signature {
    img {
      max-height: 2.5em;
      width: auto;

      @include a.zoom(5%);
    }
  }
  .links {
    cursor: default;
    font-size: 0.8em;
    font-family: 'Merriweather Sans';

    a {
      text-decoration: none;
      color: blue;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
