@use 'alex22379/utils' as a;
@use 'vars' as *;

#topbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  .grid-wrapper {
    display: grid;
    grid-template-columns: 10% 80% 10%;

    .identity {
      grid-column: 2;
      padding: 0.5rem 0;

      .signature {
        img {
          max-height: 2.5em;
          width: auto;

          @include a.zoom(5%);
        }
      }
      .links {
        cursor: default;
        font-size: 0.8em;
        font-family: 'Merriweather Sans';

        a {
          text-decoration: none;
          color: blue;

          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }

    .lang {
      grid-column: 3;
      display: flex;
      justify-content: end;
      align-items: start;
    }
  }
}
