@use 'utils' as *;

#topbar {
  position: fixed;
  top: 0;

  z-index: 100;
  padding: 0.5rem 0;
  width: 100%;

  .signature {
    img {
      max-height: 2.5em;
      width: auto;

      @include zoom(5%);
    }
  }

  .links {
    cursor: default;
    font-size: 0.8em;
    font-family: 'Merriweather Sans';

    a {
      text-decoration: none;
      color: blue;

      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}
