@use 'utils' as *;
@use 'main';
@use 'topbar';
@use 'header';
@use 'about';
@use 'footer';
@use 'curves';

main section {
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  background-color: $default-background-color;
}

#portfolio {
  scroll-snap-align: end;
}
