---
import { Icon } from 'astro-icon';
---

<section id="hero" class="flow-root page-section | flex bg-neutral-100">
  <div
    class="container flex | clr-brand-600"
    data-flex="center"
    data-flex-direction="column"
  >
    <div class="pb | round">
      <img src="/img/portrait.jpg" alt="Alexander Sandholdt, August 2022" />
    </div>
    <h1 class="title">
      <span class="firstname editable">Alexander</span><br /><span
        class="lastname">Sandholdt</span
      >
    </h1>
    <a
      class="scroll | round flex | m-2 p-2"
      style="color: inherit;"
      data-flex="center"
      href="#profile"
    >
      <Icon name="mdi:arrow-down" height="35" /></a
    >
  </div>
</section>

<style lang="scss">
  @use '/../src/styles/abstracts' as *;

  #hero {
    .pb {
      overflow: hidden;
      max-height: size(64);
      background-color: white;
      transform: translateY(size(2));
      img {
        margin-top: -1.5rem;
        max-height: inherit;
        width: auto;
        transform: scale(80%);
        transition:
          filter 350ms linear,
          transform 740ms cubic-bezier(0, 0.93, 0.46, 0.94);
      }

      transition: transform 740ms cubic-bezier(0, 0.93, 0.46, 0.94);
    }

    .title {
      font-family: 'Times New Roman', Times, serif;
      font-size: clamp(4.3rem, 9.83vw + 1.84rem, 10rem);
      line-height: 0.85;
      cursor: default;

      .firstname,
      .lastname {
        display: inline-block;
      }

      .firstname {
        transform: translateX(-2.5%);
        transition: transform 700ms cubic-bezier(0, 0.93, 0.46, 0.94);
      }

      .lastname {
        transform: translateX(2.5%);
        transition: transform 700ms cubic-bezier(0, 0.93, 0.46, 0.94) 40ms;
      }
    }

    &.hovering {
      .pb {
        transform: translateY(size(6)) scale(97.5%);
        img {
          transform: scale(77.5%);
          filter: grayscale(100%);
        }
      }

      .title {
        .firstname {
          transform: translateX(-4%);
        }
        .lastname {
          transform: translateX(4%);
        }
      }
    }

    .scroll {
      animation: float 4s ease-in-out infinite;
      transition: all 100ms ease-out;
      text-decoration: none;
      padding: size(2);

      [astro-icon] {
        font-size: 1.5em;
        transition: all 200ms ease-out;
      }
      &:hover {
        animation-play-state: paused;
        background-color: rgba(0, 0, 0, 0.035);

        [astro-icon] {
          transform: scale(110%);
        }
      }
    }
  }
</style>

<script>
  const hero = document.getElementById('hero');
  const pb = hero.querySelector('.pb');
  const title = hero.querySelector('.title');

  const onMouseEnter = (e) => {
    hero.classList.add('hovering');
  };

  const onMouseLeave = (e) => {
    hero.classList.remove('hovering');
  };

  const elements = [pb, title];
  elements.forEach((elmnt) => {
    elmnt.addEventListener('mouseenter', onMouseEnter);
    elmnt.addEventListener('mouseleave', onMouseLeave);
  });
</script>
