---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { Icon } from 'astro-icon/components';

import { getCollection } from 'astro:content';
const blogEntries = await getCollection('blog');

const sortedEntries: Record<string, any[]> = {};

blogEntries.forEach((entry) => {
  const date = new Date(entry.data.date);
  const year = date.getFullYear();
  sortedEntries[year] = [...(sortedEntries[year] || []), entry];
});
---

<BaseLayout title="Blog">
  <h1>Tanker & Idéer</h1>
  {
    Object.entries(sortedEntries).map(([year, entries]) => (
      <section class="yearly-entries-section">
        <h3>{year}</h3>
        <ul>
          {entries.map((entry) => (
            <li class="entry">
              <a href={`/blog/${entry.slug}`} class="entry-title">
                {entry.data.title}
              </a>
              <div class="entry-date | fs-300">
                <Icon name="mdi:calendar" />
                <span>
                  {new Date(entry.data.date).toLocaleString('da-DK', {
                    dateStyle: 'long',
                    timeStyle: 'short',
                  })}
                </span>
              </div>
            </li>
          ))}
        </ul>
      </section>
    ))
  }
</BaseLayout>

<style lang="scss">
  .yearly-entries-section {
    padding-left: 0.5rem;
    margin-top: 1.25rem;

    ul {
      list-style-type: none;
      padding-left: 0.5rem;
      margin: 0;

      li.entry {
        margin-top: 0.25rem;

        .entry-date {
          display: flex;
          align-items: center;
          color: #737373;

          [data-icon] {
            margin-right: 0.2rem;
          }
        }
      }

      &:hover li:not(:hover) {
        opacity: 65%;
      }
    }
  }
</style>
