// Vars

// Mixins

@mixin zoom($zoom: 10%) {
  transition: all ease-out 75ms;
  &:hover {
    transform: scale(calc(100% + $zoom));
  }
}

// Keyframes

@keyframes float {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translatey(0.75rem);
  }
  100% {
    transform: translatey(0);
  }
}
