@use 'sass:map';
// to retrieve breakpoint use: breakpoint($bp)

$breakpoints: (
  sm: 30em,
  md: 45em,
  lg: 65em,
);

// get token functions
// TODO add error messages for invalid args

@function breakpoint($bp) {
  @if map.has-key($breakpoints, $bp) {
    @return map.get($breakpoints, $bp);
  } @else {
    @error '$breakpoints does not have that bp!';
  }
}
