@use 'typography' as *;

$body-text-color: rgb(0, 0, 0);
$body-background-color: hwb(0 98% 2%);
$body-font-family: font-family('sans');

$sidebar-text-color: $body-text-color;
$sidebar-background-color: #f6f6f6;

$link-color: #0000ee;
$link-color-hover: $link-color;
