@use 'colors' as *;
@use 'typography' as *;
@use 'sizes' as *;

$active-theme: $default;
$enable-media-query-dark-mode: false;

// Contextual
$color-text-default: color(primary, 900);
$color-background-default: color(neutral, 100);
$color-text-interactive-default: color(accent, 500);
$color-text-interactive-hover: color(accent, 500);

// set to 0 to disable
$letter-spacing-loose: 0;

$border-radius-1: size(2);
$border-radius-2: size(4);

$box-shadow-1: 0px 6px 5px rgb(0, 0, 0, 0.012),
  0px 22px 18px rgb(0, 0, 0, 0.018), 0px 100px 80px rgb(0, 0, 0, 0.03);

$box-shadow-2: 0px 6px 5px rgb(0, 0, 0, 0.016),
  0px 22px 18px rgb(0, 0, 0, 0.024), 0px 100px 80px rgb(0, 0, 0, 0.04);

$box-shadow-3: 0px 6px 5px rgb(0, 0, 0, 0.02), 0px 22px 18px rgb(0, 0, 0, 0.03),
  0px 100px 80px rgb(0, 0, 0, 0.05);

$box-shadow-4: 0px 6px 5px rgb(0, 0, 0, 0.03), 0px 22px 18px rgb(0, 0, 0, 0.042),
  0px 100px 80px rgb(0, 0, 0, 0.07);

$box-shadow-5: 0px 6px 5px rgb(0, 0, 0, 0.04), 0px 22px 18px rgb(0, 0, 0, 0.06),
  0px 100px 80px rgb(0, 0, 0, 0.1);

// body
$body-font-family: font-family(base);
$body-font-size: font-size(400);
$body-line-height: 1.5;
$body-font-weight: font-weight(default);
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

// layout
$grid-gap: size(6);
$flex-gap: size(4);

$hero-padding-block: clamp(15rem, 15vh, 20rem);
$section-padding-block: clamp(5rem, 10vh, 6rem);

$container-min-margin-inline: size(4);
$container-max-width: 64rem;
$container-max-width-narrow: 40rem;
$container-max-width-wide: 75rem;
