@use 'typography' as *;

$body-text-color: rgb(0, 0, 0);
$body-background-color: hwb(0 98% 2%);
$body-font-family: font-family('sans');
$body-font-weight: 500;
$body-line-height: 1.5;
$body-font-size: font-size(400);

$sidebar-text-color: $body-text-color;
$sidebar-background-color: #f6f6f6;

$site-top-gap: 2rem;
$site-bottom-gap: 0.675rem;

$content-max-width: 80ch;

$color-highlight__bg: #ff5500;
$color-highlight__text: white;

$link-color: #3373dc;
$link-color-hover: $link-color;

$brand-color: #17285e;
