@use 'sass:map';

$-ff-merriweather-sans: 'Merriweather Sans Variable', sans-serif;
$-ff-ubuntu-mono: 'Ubuntu Mono', sans-serif;
$-ff-sans: 'Ubuntu', sans-serif;
$-ff-serif: 'Times New Roman', Times, serif;
$-ff-system-ui: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$font-families: (
  merriweather-sans: $-ff-merriweather-sans,
  ubuntu-mono: $-ff-ubuntu-mono,
  base: $-ff-sans,
  accent: $-ff-serif,
  system-ui: $-ff-system-ui,
);

@function font-family($family) {
  @return map-get($font-families, $family);
}

$font-sizes: (
  'sm': (
    '1000': 4rem,
    '900': 3.75rem,
    '800': 2.25rem,
    '700': 1.75rem,
    '600': 1.125rem,
    '500': 1.125rem,
    '400': 1rem,
    '300': 0.925rem,
    '200': 0.875rem,
    '150': 0.775rem,
    '100': 0.7rem,
  ),
  'lg': (
    '1000': 4rem,
    '900': 3.75rem,
    '800': 3rem,
    '700': 2rem,
    '600': 1.3125rem,
    '500': 1.125rem,
    '400': 1rem,
    '300': 0.925rem,
    '200': 0.875rem,
    '150': 0.775rem,
    '100': 0.7rem,
  ),
);

@function font-size($size) {
  @return var(--fs-#{$size});
}

$font-weights: (
  thin: 100,
  light: 200,
  regular: 400,
  semi-bold: 500,
  bold: 700,
  'black': 900,
);

@function font-weight($weight) {
  @return map-get($font-weights, $weight);
}
