@use 'sass:map';
@use '../abstracts' as *;

.flex {
  display: flex;

  $positions: (
    flex-start,
    center,
    flex-end,
    space-between,
    space-around,
    space-evenly
  );
  @each $pos in $positions {
    &[data-justify-content='#{$pos}'] {
      justify-content: $pos;
    }
    &[data-align-items='#{$pos}'] {
      align-items: $pos;
    }
  }

  $directions: (row, column);
  @each $direction in $directions {
    &[data-flex-direction='#{$direction}'] {
      flex-direction: $direction;
    }
  }

  $wraps: (nowrap, wrap, wrap-reverse);
  @each $wrap in $wraps {
    &[data-flex-wrap='#{$wrap}'] {
      flex-wrap: $wrap;
    }
  }

  @each $size-step, $size-value in $sizes {
    &[data-gap='#{$size-step}'] {
      gap: $size-value;
    }
  }

  &[data-flex='center'] {
    justify-content: center;
    align-items: center;
  }
}
