@forward 'abstracts' as abstracts-*;
@forward 'setup' as setup-*;
@forward 'utils' as utils-*;
@forward 'vars' as vars-*;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
