---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getLangFromUrl, useTranslations } from '../modules/i18n';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout title="404 | Alexander Sandholdt" description="...">
  <section id="page-404" class="page-section" data-page-height="100">
    <div class="container | text-center">
      <span class="emoji"></span>
      <h1 class="fs-700">
        <span class="fw-bold">404</span>&nbsp;<span class="fw-semi-bold"
          >{t('404.title')}</span
        >
      </h1>
      <p>{t('404.subtitle')}</p>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  @use 'sass:math';
  @use '../styles/abstracts/' as *;

  #page-404 {
    display: grid;
    place-items: center;
  }

  .emoji {
    font-size: size(24, true);
    &:before {
      content: '\1F914';
    }
    &:hover:before {
      content: '\1F928';
    }
  }
</style>
