---
import Icon from 'astro-icon';
import BaseLayout from '../layouts/BaseLayout.astro';
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from '../modules/i18n/index.mts';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const tPath = useTranslatedPath(lang);
---

<BaseLayout title="404 | Alexander Sandholdt" description="...">
  <section id="page-404" class="page-section" data-page-height="100">
    <div class="container | text-center | flow">
      <span class="emoji"></span>
      <div class="text">
        <h1 class="fs-700">
          <span class="fw-bold">404</span>&nbsp;<span class="fw-semi-bold"
            >{t('404.title')}</span
          >
        </h1>
        <p>{t('404.subtitle')}</p>
      </div>
      <div class="c2a">
        <a class="startpage | button" href={tPath('/')}>
          <span class="icon"><Icon name="mdi:home" /></span>
          {t('404.startpage')}
        </a>
        <p class="hint fs-150">⤷ {t('404.hint')}</p>
      </div>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  @use 'sass:math';
  @use '../styles/abstracts/' as *;

  #page-404 {
    display: grid;
    place-items: center;

    --flow-space: 0.5rem;

    .container:hover {
      .emoji:before {
        content: '\1F928';
      }
    }

    .emoji {
      font-size: size(24, true);
      &:before {
        content: '\1F914';
      }
    }

    .c2a {
      /*.startpage:hover @at-root #page-404 .emoji:before {
        content: '\1F929';
      }*/

      .hint {
        text-transform: lowercase;
        font-style: italic;
      }
    }
  }
</style>
