---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Alexander Sandholdt" >
	<section id="404" class="page-section">
		<div class="container | my-64">
			<div class="text-center">
				<span class="fs-900">&#129300;</span>
				<h1 class="fs-700 "><span class="fw-black">404 </span><span class="fw-semi-bold">(ikke fundet)</span></h1>
				<p class="fs-500">Hvordan endte du her?</p>
			</div>
		</div>
	</section>
  
</Layout>
