---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="404 | Alexander Sandholdt" description="...">
  <section id="page-404" class="page-section" data-page-height="100">
    <div class="container">
      <div class="text-center">
        <span class="emoji | fs-1000"></span>
        <h1 class="fs-700">
          <span class="fw-black">404</span><span class="fw-semi-bold"></span>
           Ikke fundet
        </h1>
        <p class="fs-500">Hvordan endte du her?</p>
      </div>
    </div>
  </section>
</BaseLayout>

<style lang="scss">
  @use '../styles/abstracts/' as *;

  #page-404 {
    display: grid;
    place-items: center;
  }

  .emoji {
    &:before {
      content: '\1F914';
    }
    &:hover:before {
      content: '\1F928';
    }
  }
</style>
