---
import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/indexPage/HeroPageSection.astro';
import Profile from '../components/indexPage/profile/ProfilePageSection.astro';
import Portfolio from '../components/indexPage/portfolio/PortfolioPageSection.astro';
import { getLangFromUrl, useTranslations } from '../modules/i18n';
---

<BaseLayout title="Alexander Sandholdt" description="...">
  <main>
    <Hero />
    <Profile />
    <Portfolio />
  </main>
</BaseLayout>
