---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import Profile from "../components/Profile.astro";
---

<Layout title="Alexander Sandholdt" language="da">
  <Hero />
  <Profile />
  <section id="portfolio" class="page-section">
    <div class="portfolio-container | container | my-32">
			<div class="text-center">
    	  <h2>Portefølje</h2>
    	  <p>Et udvalg af mine projekter af både større og mindre karakter</p>
			</div>
    </div>
  </section>
</Layout>
