---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
---

<Layout title="Alexander Sandholdt" lang="">
  <div class="lang m-2" style="display:none">
    <div id="lang-slider">
      <div class="option1">da</div>
      <div class="option2">en</div>
      <div class="slider"></div>
    </div>
  </div>

  <Hero />

  <main>
    <div class="curves-container pre-profile">
      <section id="profile" class="container-wrapper">
        <div class="container px-3 my-32 py-32 flex gap-8">
          <div class="portrait-container">
            <div class="portrait-wrapper">
              <img src="img/portrait.jpg" alt="" />
            </div>
          </div>
          <div id="profile-tabs" class="mt-3.5">
            <nav class="tabs-nav">
              <ul>
                <li>
                  <button class="active" type="button" data-tab-target="about">
                    Om mig
                  </button>
                </li>
                <li>
                  <button type="button" data-tab-target="education">
                    Uddannelse
                  </button>
                </li>
                <li>
                  <button type="button" data-tab-target="skills">
                    Kompetencer
                  </button>
                </li>
                <li>
                  <button type="button" data-tab-target="experience">
                    Erfaring
                  </button>
                </li>
              </ul>
            </nav>
            <div class="tabs-content text-white">
              <div
                class="tab-window"
                data-tab-id="about"
                style="display: block"
              >
                <div>
                  <h2>Hej, velkommen til</h2>
                  <p>
                    Som sagt, velkommen til, mit navn er Alexander,
                    <br /><br />
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
                    alias tenetur nostrum excepturi perferendis officia accusantium
                    explicabo nemo voluptatem minima voluptatibus minus error, libero
                    earum nulla molestias. Nihil, esse ipsam. Lorem ipsum dolor,
                    sit amet consectetur adipisicing elit. Vel ea consectetur sunt
                    excepturi eligendi. Commodi corrupti atque officia, eos nemo,
                    odio repudiandae temporibus corporis fuga autem iste cum, dolor
                    veritatis.
                    <br /><br />
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores
                    culpa nisi nesciunt.
                  </p>
                </div>
              </div>
              <div class="tab-window" data-tab-id="education">
                <div>
                  <h2>Min uddannelse</h2>

                  <div class="timeline">
                    <div>
                      <h3 class="text-sm">Folkeskolen</h3>
                      <p class="text-sm">
                        Færdiggører folkeskolens 9. klasse på VGE i Varde, efter
                        at have gået på Favrdalskolen i Haderslev t.o.m 8.
                        klasse
                      </p>
                      <h4 class="text-xs">2010 - 2020</h4>
                    </div>

                    <div>
                      <h3 class="text-sm">Gymnasiet</h3>
                      <p class="text-sm">
                        Færdiggører en højere handelseksamen (HHX), og
                        dimitterer fra Det Blå Gymnasium på Haderslev
                        Handelsskole
                      </p>
                      <h4 class="text-xs">2020 - 2023</h4>
                    </div>

                    <div>
                      <h3 class="text-sm">Værnepligt</h3>
                      <p class="text-sm">
                        Aftjener som værnepligtig i hæren på Varde Kaserne v.
                        Forsvarets Efterretningsregiment, og gennemfører HBU
                      </p>
                      <h4 class="text-xs">August 2023 - November 2023</h4>
                    </div>

                    <div>
                      <h3 class="text-sm">Opkvalificering</h3>
                      <p class="text-sm">
                        Påbegynder opkvalificering i Fysik og Kemi i Aarhus med
                        henblik på senere at læse til civilingeniør
                      </p>
                      <h4 class="text-xs">Februar 2024</h4>
                    </div>

                    <div>
                      <h3 class="text-sm">
                        Civilingeniør <span class="text-xs">(Bachelor)</span>
                      </h3>
                      <p class="text-sm">
                        Påbegynder en B.Sc i Matematik & Teknologi på DTU i
                        København
                      </p>
                      <h4 class="text-xs">Sommerstart 2025</h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-window" data-tab-id="skills">
                <div class="text-white"><h2>Hvad jeg laver</h2></div>
              </div>
              <div class="tab-window" data-tab-id="experience">
                <div class="text-white"><h2>Mine beskæftigelser</h2></div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section id="portfolio" class="container-wrapper full-height">
      <div class="container px-3 py-32 flex column align-center">
        <h2>Portefølje</h2>
        <p>Hmm, her er tomt...</p>
      </div>
    </section>
  </main>
</Layout>
