---
import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/pages/index/HeroPageSection.astro';
import Profile from '../components/pages/index/profile/ProfilePageSection.astro';
import Portfolio from '../components/pages/index/portfolio/PortfolioPageSection.astro';
---

<BaseLayout title="Alexander Sandholdt" description="...">
  <main>
    <Hero />
    <Profile />
    <Portfolio />
  </main>
</BaseLayout>

<style lang="scss">
  @use '../styles/abstracts' as *;
</style>
