---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/Hero.astro';
import Profile from '../components/Profile.astro';
---

<Layout title="Alexander Sandholdt" language="da">
  <Hero />
  <Profile />
  <section id="portfolio" class="page-section">
    <div class="poertfolio-container | container | my-32">
      <h2>Portefølje</h2>
      <p>Hmm, her er tomt...</p>
    </div>
  </section>
</Layout>
