@use '../abstracts' as *;

.button {
  position: relative;
  display: inline-flex;
  padding: size(2) size(3);
  background-color: color(brand, 400);
  color: white;
  border-radius: 50vh;
  text-transform: uppercase;
  font-family: 'Ubuntu Mono', sans-serif;
  box-shadow: $box-shadow-2;
  transition: padding 900ms cubic-bezier(0.075, 0.82, 0.165, 1),
    transform 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  justify-content: center;
  align-items: center;
  font-size: font-size(400);
  letter-spacing: size(0.5, true);

  &:hover,
  &:focus,
  &.hover,
  &.focus {
    text-decoration: none;
    color: white;
    background-color: color(brand, 500);
    padding-inline: size(3.75);
  }

  &:focus,
  &:focus-within,
  &.focus {
    outline-style: solid;
    outline-color: color(neutral, 200);
  }

  &:active,
  &.active {
    transform: scale(97.5%);
  }

  span.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    & > * {
      line-height: inherit;
      display: inline;
      height: size(5, true);
      width: auto;
      margin-right: size(1);
      fill: color(neutral, 100);
    }
  }
}
