@use '../abstracts' as *;

.mx-auto {
  margin-inline: auto;
}

$spacers: (
  'p': 'padding',
  'm': 'margin',
);

$spacing-direction-properties: (
  '': (
    '',
  ),
  'x': (
    '-inline',
  ),
  'y': (
    '-block',
  ),
  't': (
    '-top',
  ),
  'r': (
    '-right',
  ),
  'b': (
    '-bottom',
  ),
  'l': (
    '-left',
  ),
);

@each $size-step, $size-value in $sizes {
  @each $spacer-prefix, $spacer-type in $spacers {
    @each $direction-prefix, $direction-props in $spacing-direction-properties {
      $size-selector: make-selector($size-step);
      .#{$spacer-prefix}#{$direction-prefix}-#{$size-selector} {
        @each $direction-prop in $direction-props {
          #{$spacer-type}#{$direction-prop}: size($size-step);
        }
      }
    }
  }
}
