@use '../abstracts' as *;

//families

@each $font, $value in $font-families {
  .ff-#{$font} {
    font-family: $value;
  }
}

//sizes

@each $bp, $size-map in $font-sizes {
  @each $size-name, $size-value in $size-map {
    .fs-#{$size-name} {
      font-size: var(--fs-#{$size-name});
    }
  }
}

//weights

@each $weight, $value in $font-weights {
  .fw-#{$weight} {
    font-weight: $value;
  }
}
