---
import { getEntry } from 'astro:content';
import TabWindow from './TabWindow.astro';
import { getLangFromUrl } from '../../../../modules/i18n/index.mts';

const bio = await getEntry('bio', `${getLangFromUrl(Astro.url)}/profile-bio`);
const { lastUpdate } = bio.data;
const { Content } = await bio.render();
const lastUpdateLocale = new Date(lastUpdate).toLocaleString(
  getLangFromUrl(Astro.url),
  {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
    hour: 'numeric',
    minute: 'numeric',
    /*timeZone: '', TODO match locale (da-dk) and timeZone based on client */
  }
);
---

<TabWindow id="bio">
  <p class="lastUpdate | fs-200 clr-brand-700" style="font-style: italic;">
    (<time datetime={lastUpdate}>{lastUpdateLocale}</time>)
  </p>
  <div class="content">
    <Content />
  </div>
</TabWindow>

<style lang="scss">
  @use '/../src/styles/abstracts' as *;

  .content :global(*) {
    &:not(:first-child) {
      margin-top: size(1.5);
    }
  }
</style>
