---

---

<section id="profile" class="page-section">
  <div class="profile-container | container | clr-neutral-000 my-44">
    <div class="portrait">
      <div class="portrait-wrapper">
        <img
          src="/img/portrait.jpg"
          alt="Alexander Sandholdt August 2023 3.G"
        />
      </div>
    </div>
    <div class="profile-tabs">
      <nav class="tabs">
        <button class="tab" type="button" data-tab-target="bio">Biografi</button
        >
        <button class="tab" type="button" data-tab-target="education">
          Uddannelse
        </button>
        <button class="tab" type="button" data-tab-target="tools">
          Redskaber
        </button>
      </nav>

      <div class="tab-windows">
        <div class="tab-window" data-tab-id="bio">
          <h2>Hej, velkommen til</h2>
          <p>
            Lorme ipsum dolor <span class="text-highlight">sit amet</span> conse


            <br /><br />
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
            alias tenetur nostrum excepturi perferendis officia accusantium
            explicabo nemo voluptatem minima voluptatibus minus error, libero
            earum nulla molestias. Nihil, esse ipsam. Lorem ipsum dolor, sit
            amet consectetur adipisicing elit. Vel ea consectetur sunt excepturi
            eligendi. Commodi corrupti atque officia, eos nemo, odio repudiandae
            temporibus corporis fuga autem iste cum, dolor veritatis.
            <br /><br />
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores
            culpa nisi nesciunt.
          </p>
        </div>
        <div class="tab-window" data-tab-id="education">
          <h2>Min uddannelse</h2>

          <div class="timeline | flow">
            <div class="timeperiod">
              <div class="count">1</div>
              <div class="content">
                <h3 class="">Folkeskolen</h3>
                <p class="">
                  Færdiggører folkeskolens 9. klasse på VGE i Varde, efter at
                  have gået på Favrdalskolen i Haderslev t.o.m 8. klasse
                </p>
                <span class="">2010 - 2020</span>
              </div>
            </div>

            <div class="timeperiod">
              <div class="count">2</div>
              <div class="content">
                <h3 class="">Gymnasiet</h3>
                <p class="">
                  Færdiggører en højere handelseksamen (HHX), og dimitterer fra
                  Det Blå Gymnasium på Haderslev Handelsskole
                </p>
                <span class="">August 2020 - Juni 2023</span>
              </div>
            </div>

            <div class="timeperiod">
              <div class="count">3</div>
              <div class="content">
                <h3 class="">Værnepligt</h3>
                <p class="">
                  Aftjener som værnepligtig i hæren på Varde Kaserne v.
                  Forsvarets Efterretningsregiment, og gennemfører HBU
                </p>
                <span class="">August 2023 - November 2023</span>
              </div>
            </div>

            <div class="timeperiod">
              <div class="count">4</div>
              <div class="content">
                <h3 class="">Opkvalificering</h3>
                <p class="">
                  Færdiggører opkvalificering i Fysik og Kemi i Aarhus med
                  henblik på senere at læse til civilingeniør
                </p>
                <span class="text-xs">Juni 2024</span>
              </div>
            </div>

            <div class="timeperiod">
              <div class="count">5</div>
              <div class="content">
                <h3 class="">
                  Civilingeniør <span class="text-xs">(Bachelor)</span>
                </h3>
                <p class="">
                  Påbegynder en B.Sc i Matematik & Teknologi på DTU (Lyngby
                  Campus) i Storkøbenhavn
                </p>
                <span class="">Sommerstart 2025</span>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-window" data-tab-id="tools">
          <div class=""><h2>Mine daglige redskaber</h2></div>
        </div>
        <div class="tab-window" data-tab-id="experience">
          <div class=""><h2>Mine beskæftigelser</h2></div>
        </div>
      </div>
    </div>
  </div>

  <div class="custom-shape-divider-top-1690840359">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25"
        class="shape-fill"></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5"
        class="shape-fill"></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"></path>
    </svg>
  </div>
  <div class="custom-shape-divider-bottom-1690842394">
    <svg
      data-name="Layer 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z"
        opacity=".25"
        class="shape-fill"></path>
      <path
        d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z"
        opacity=".5"
        class="shape-fill"></path>
      <path
        d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z"
        class="shape-fill"></path>
    </svg>
  </div>
</section>

<style lang="scss">
  @use '/../src/styles/abstracts' as *;

  #profile {
    background: color(neutral, '150');

    /*background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/

    .profile-container {
      display: grid;
      --cols: 4;
      grid-template-columns: repeat(var(--cols), 1fr);
      grid-gap: size(4);
      justify-content: center;

      @include mq(md) {
        --cols: 8;
      }

      @include mq(lg) {
        --cols: 12;
      }
    }

    .portrait {
      --span: 4;
      grid-column-end: span var(--span);

      @include mq(md) {
        grid-column-start: 3;
      }

      @include mq(lg) {
        grid-column-start: initial;
      }

      .portrait-wrapper {
        overflow: hidden;
        transition: all 450ms ease-out;
        box-shadow: $box-shadow-3;

        img {
          transform: scale(103%);
          transition:
            filter 300ms linear,
            transform 600ms ease;
        }

        &:hover img {
          filter: grayscale(100%);
          transform: scale(102%);
        }

        border-radius: 3rem 3rem 1.5rem 1.5rem;
        @include mq(lg) {
          border-radius: 6rem 1.5rem 1.5rem 1.5rem;

          &:hover {
            border-radius: 5rem 1.5rem 1.5rem 1.5rem;
          }
        }
      }
    }

    .profile-tabs {
      --span: 4;
      grid-column: span var(--span);

      @include mq(md) {
        --span: 8;
      }
      .tabs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.25em;

        .tab {
          font-family: font-family(ubuntu-mono);
          font-size: font-size(100);
          text-transform: uppercase;
          text-align: center;
          letter-spacing: 0.175em;
          padding: 0.3em 0.6em;
          border-radius: 50vw;
          border: none;
          outline: none;
          color: rgba(255, 255, 255, 0.8);
          background-color: rgba(0, 0, 0, 0.4);
          line-height: font-size(100);
          cursor: pointer;

          &:focus,
          &:hover {
            color: rgba(255, 255, 255, 0.95);
            background-color: rgba(0, 0, 0, 0.55);
          }

          &:active {
            transform: scale(97.5%);
          }

          &.active {
            color: rgba(255, 255, 255, 1);
            background-color: rgba(0, 0, 0, 0.8);
          }
        }
        margin-bottom: size(1);
      }

      .tab-windows {
        color: black;

        & > * {
          display: none;
        }

        span.text-highlight {
          color: color(brand, 600);
        }
      }

      .timeline {
        margin-top: 0.5rem;
        & > * {
          transition: all 150ms ease-out;
          padding: 0.5rem 0.8rem;
          background-color: color(neutral, '000');
          border-radius: 0.75rem;

          font-size: font-size(400);

          h3 {
            font-size: font-size(400);
            text-transform: uppercase;
            letter-spacing: 0.05em;
          }

          span {
            font-size: font-size(100);
            font-style: italic;
          }
        }

        .timeperiod {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          gap: 0.8rem;
          border-right: size(2) solid color(brand, 400);

          .count {
            font-size: size(18);
            line-height: 0;
            font-family: Times new Roman;
            transition: transform 300ms ease;
            color: color(brand, 600);
          }

          &:hover {
            box-shadow: $box-shadow-1;
            transform: scale(101%);
            .count {
              transform: scale(110%);
            }
          }
        }

        &:hover .timeperiod:not(:hover) {
          opacity: 80%;
        }
      }
    }
  }

  .custom-shape-divider-top-1690840359 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .custom-shape-divider-top-1690840359 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
    @include mq(md) {
      height: calc(50px * 1.5);
    }
    @include mq(lg) {
      height: calc(50px * 2);
    }
  }

  .custom-shape-divider-top-1690840359 .shape-fill {
    fill: $body-background-color;
  }
  .custom-shape-divider-bottom-1690842394 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1690842394 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 67.5px;
    @include mq(md) {
      height: calc(67.5px * 1.5);
    }
    @include mq(lg) {
      height: calc(67.5px * 2);
    }
  }

  .custom-shape-divider-bottom-1690842394 .shape-fill {
    fill: $body-background-color;
  }
</style>

<script>
  const tabs = document.querySelectorAll('.tab'),
    tabWindows = document.querySelectorAll('.tab-window');

  tabs.forEach((t) => {
    t.addEventListener('click', (e) => {
      const tabTarget = t.dataset.tabTarget;
      openTab(tabTarget);
      tabs.forEach((b) => b.classList.remove('active'));
      t.classList.add('active');
    });
    t.click();
  });

  tabs[0].click();

  function openTab(tab) {
    tabWindows.forEach((t) => {
      const tabId = t.dataset.tabId;
      let display = 'none';
      if (tabId === tab) display = 'block';
      t.style.display = display;
    });
  }
</script>
