---
import {
  getLangFromUrl,
  useTranslations,
} from '../../../modules/i18n/index.mts';
const t = useTranslations(getLangFromUrl(Astro.url));

const { target, name = t(`profile.tabButtonTitles.${target}`) } = Astro.props;
---

<button class="tab-button" type="button" data-tab-target={target}>
  {name}
</button>

<style lang="scss">
  @use '/../src/styles/abstracts' as *;

  .tab-button {
    font-family: font-family(ubuntu-mono);
    font-size: font-size(100);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.175em;
    padding: 0.3em 0.6em;
    border-radius: 50vw;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.4);
    line-height: normal;
    cursor: pointer;

    &:focus,
    &:hover {
      color: rgba(255, 255, 255, 0.95);
      background-color: rgba(0, 0, 0, 0.55);
    }

    &:active {
      transform: scale(97.5%);
    }

    &.active {
      color: rgba(255, 255, 255, 1);
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
</style>
