---
import {
  getLangFromUrl,
  useTranslations,
} from '../../../modules/i18n/index.mts';
const t = useTranslations(getLangFromUrl(Astro.url));

const { id, title = t(`profile.tabWindowTitles.${id}`) } = Astro.props;
---

<article class="tab-window" data-tab-id={id}>
  <h2 class="title">{title}</h2>
  <div class="content">
    <slot />
  </div>
</article>

<style lang="scss">
  @use '/../src/styles/abstracts' as *;

  .tab-window {
    display: none;
    color: black;
  }
</style>
