---
const {
  unixTimestamp,
  locale = 'da-DK',
  options = { dateStyle: 'long', timeStyle: 'short' },
} = Astro.props;
const date = new Date(unixTimestamp);
---

<span>{date.toLocaleString(locale, options)}</span>
