---
import { Image } from 'astro:assets';
import signatureImg from '../assets/img/signature.png';

import { astroI18n, t, l } from 'astro-i18n';
astroI18n.init(Astro);

const linkPaths = [
  'header.links.instagram',
  'header.links.linkedin',
  'header.links.mail',
];
---

<header>
  <div class="flex">
    <div id="topbar">
      <div
        class="container flex | my-1"
        data-type="fluid"
        data-flex="center"
        data-flex-direction="column"
      >
        <a class="signature" href={l('/')}
          ><Image src={signatureImg} alt="Alexander Sandholdt Signature" /></a
        >
        <ul class="links">
          {
            linkPaths.map((l) => (
              <li>
                <a href={t(l + '.url')} target="_blank">
                  <span class="text">{t(l + '.text')}</span>
                  <span class="icon">
                    <i class={t(l + '.icon')} />
                  </span>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</header>

<style lang="scss">
  @use '../styles/abstracts' as *;

  #topbar {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;

    /* From https://css.glass */
    background: hsla(0, 0%, 95%, 0.4);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);

    .signature {
      img {
        max-height: 2.5em;
        width: auto;

        @include zoom();
      }
    }

    .links {
      cursor: default;
      font-size: 0.8em;
      font-family: 'Merriweather Sans', sans-serif;

      li {
        display: inline-block;
        list-style: none;

        &:not(:last-child) {
          padding-right: 1em;

          @include mq(md) {
            padding-right: initial;
            &::after {
              content: '\2022';
              padding-inline: 0.25em;
            }
          }
        }

        a {
          text-decoration: none;

          .text {
            display: none;

            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }

          .icon {
            font-size: 1.75em;

            display: flex;
            justify-content: center;
            align-items: center;

            color: color(neutral, 800);
          }

          @include mq(md) {
            .text {
              display: initial;
            }
            .icon {
              display: none;
            }
          }
        }
      }
    }
  }
</style>
