---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.split('/')[1];

const navItems = [
  /*{ name: 'Velkommen', href: '/' },*/
  { name: 'Tanker & idéer', href: '/blog' },
  { name: 'Projekter/arbejde', href: '/portfolio' },
];
---

<nav aria-label="Primary Nav">
  <ul>
    {
      navItems.map((item) => (
        <li class:list={{ active: currentPath == item.href.slice(1) }}>
          <a href={item.href}>{item.name}</a>
        </li>
      ))
    }
  </ul>
</nav>

<style lang="scss">
  @use '../styles/abstracts/' as *;

  nav {
    align-self: flex-start;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: initial;

      li {
        a {
          color: $body-text-color;
          text-transform: uppercase;
          font-weight: 700;

          &:hover {
            text-decoration: none;
          }
        }

        &.active {
          &::after {
            content: '👈';
            //margin-left: 0.5ch;
          }
        }
      }

      &:has(li:hover) {
        li:not(:hover) {
          opacity: 0.6;
        }
      }
    }
  }
</style>
