---
import FirstCase from "./FirstCase.astro";
import SecondCase from "./SecondCase.astro";

import { astroI18n, t, l } from "astro-i18n";
astroI18n.init(Astro);
---

<section id="portfolio" class="page-section">
	<div class="container flow | my-32">
		<div class="text-center">
			<h2>{t("portfolio.title")}</h2>
			<p>{t("portfolio.subtitle")}</p>
			
		</div>
		<div class="cases-slider">
			<button class="arrow left"><i class="fa-solid fa-chevron-left"></i></button>
			<div class="cases-wrapper">
				<div class="cases">
					<FirstCase />
					<SecondCase />
					<div class="case"></div>
					<div class="case"></div>
				</div>
			</div>
			<button class="arrow right"><i class="fa-solid fa-chevron-right"></i></button>
		</div>
	</div>
</section>

<style lang="scss">
  @use '../styles/abstracts' as *;

	.cases-slider {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		.arrow {
			background: none;
			border: none;
			outline: none;
			cursor: pointer;

			display: none;

			@include mq(lg) {
				display: initial;
			}
		}

		.cases-wrapper {
			overflow: hidden;
			.cases {
				$case-width: 20rem;
				$case-gap: 1rem;

				display: flex;
				gap: $case-gap;
				overflow-x: auto;
				scroll-snap-type: x mandatory;
				&::-webkit-scrollbar {
					display: none;
				}
				
				.case {
					scroll-snap-align: start;
					min-height: $case-width*2;
					min-width: $case-width;
					background-color: color(neutral, '000');
					border-radius: 1rem;
				}	
			}
		}	
	}
</style>

<script>
	const cases = document.querySelector('.cases');
	const left = document.querySelector('.left');
	const right = document.querySelector('.right');

	left?.addEventListener('click', (e) => {
		cases?.scrollBy({ left: -200, behavior: 'smooth' });
		//document.querySelector('#case-4')?.scrollIntoView(false, {behavior: 'smooth' });
	});

	right?.addEventListener('click', (e) => {
		cases?.scrollBy({ left: 200, behavior: 'smooth' });
	});
</script>