<section id="portfolio" class="page-section">
	<div class="container flow | my-32">
		<div class="text-center">
			<h2>Portefølje</h2>
			<p>Et udvalg af mine projekter af både større og mindre karakter</p>
		</div>
		<div class="case-slider">
			<button class="arrow left"><i class="fa-solid fa-chevron-left"></i></button>
			<div class="cases">
				<div class="case"></div>
				<div class="case" style="background: pink;"></div>
				<div class="case" style="background: blue;"></div>
				<div class="case" style="background: yellow;"></div>
				<div class="case" style="background: purple;"></div>
			</div>
			<button class="arrow right"><i class="fa-solid fa-chevron-right"></i></button>
		</div>
	</div>
</section>

<style lang="scss">
	.case-slider {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;

		.arrow {
			background: none;
			border: none;
			outline: none;
			cursor: pointer;
		}

		$case-width: 20rem;
		$case-gap: 1rem;

		.cases {
			display: flex;
			gap: 1rem;
			padding-inline: $case-gap;
			width: $case-width * 1 + $case-gap * 2;
			overflow-x: scroll;
			scroll-snap-type: x mandatory;
			&::-webkit-scrollbar {
				display: none;
			}

			background: green;
			
			.case {
				scroll-snap-align: center;
				height: 35rem;
				min-width: 20rem;
				background: red;
			}	
		}		
	}
</style>

<script>
	const cases = document.querySelector('.cases');
	const left = document.querySelector('.left');
	const right = document.querySelector('.right');

	left?.addEventListener('click', (e) => {
		cases.scrollLeft -= 200;
	});

	right?.addEventListener('click', (e) => {
		cases.scrollLeft += 200;
	});
</script>