<section id="portfolio" class="page-section">
	<div class="container flow | my-32">
		<div class="text-center">
			<h2>Portefølje</h2>
			<p>Et udvalg af mine projekter af både større og mindre karakter</p>
		</div>
		<div class="cases-slider">
			<button class="arrow left">:=)<i class="fa-solid fa-chevron-left"></i></button>
			<div class="cases-wrapper">
				<div class="cases">
					<div id="case-1" class="case">1</div>
					<div id="case-2" class="case">2</div>
					<div id="case-3" class="case">3</div>
					<div id="case-4" class="case">4</div>
					<div id="case-5" class="case">5</div>
				</div>
				<div class="pagination text-center">
					<a href="#case-1">&bull;</a>
					<a href="#case-2">&bull;</a>
					<a href="#case-3">&bull;</a>
					<a href="#case-4">&bull;</a>
					<a href="#case-5">&bull;</a>
					<!-- TODO use scrollIntoView with js -->
				</div>
			</div>
			<button class="arrow right">(=:<i class="fa-solid fa-chevron-right"></i></button>
		</div>
	</div>
</section>

<style lang="scss">
  @use '../styles/abstracts' as *;

	.cases-slider {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		.arrow {
			background: none;
			border: none;
			outline: none;
			cursor: pointer;

			display: none;

			@include mq(lg) {
				display: initial;
			}
		}

		.cases-wrapper {
			overflow: hidden;
			.cases {
				$case-width: 20rem;
				$case-gap: 1rem;

				display: flex;
				gap: $case-gap;
				overflow-x: auto;
				scroll-snap-type: x mandatory;
				&::-webkit-scrollbar {
					display: none;
				}
				
				.case {
					scroll-snap-align: start;
					min-height: $case-width*2;
					min-width: $case-width;
					background-color: color(neutral, '000');
					border-radius: 1rem;
				}	
			}

			.pagination {
				display: flex;
				justify-content: center;
				gap: .5em;

				& > * {
					text-decoration: none;
					color: black;
					font-size: 1.25em;
				}
			}
		}	
	}
</style>

<script>
	const cases = document.querySelector('.cases');
	const left = document.querySelector('.left');
	const right = document.querySelector('.right');

	left?.addEventListener('click', (e) => {
		cases?.scrollBy({ left: -200, behavior: 'smooth' });
		//document.querySelector('#case-4')?.scrollIntoView(false, {behavior: 'smooth' });
	});

	right?.addEventListener('click', (e) => {
		cases?.scrollBy({ left: 200, behavior: 'smooth' });
	});
</script>