---
---

<div class="case">
	<div class="banner"></div>
	<div class="content">
		<div class="header">
			<slot name="call-to-action"></slot>
			<h3 class="title"></h3>
			<p class="subtitle"></p>
		</div>
		<slot name="body"><p>...</p></slot>
		<slot name="footer" />
	</div>
</div>