<section id="profile" class="flow-root">
  <div class="profile-container | container | clr-neutral-000 my-24">
    <div class="portrait">
      <div class="portrait-wrapper">
        <img
          src="img/portrait.jpg"
          alt="Portrait of Alexander Sandholdt August 2023"
        />
      </div>
    </div>
    <div class="profile-tabs">
      <nav class="tabs">
        <button class="tab" type="button" data-tab-target="about">
          Om mig
        </button>

        <button class="tab" type="button" data-tab-target="education">
          Uddannelse
        </button>

        <button class="tab" type="button" data-tab-target="skills">
          Kompetencer
        </button>

        <button class="tab" type="button" data-tab-target="experience">
          Erfaring
        </button>
      </nav>

      <div class="tab-windows">
        <div class="tab-window" data-tab-id="about">
          <h2>Hej, velkommen til</h2>
          <p>
            Som sagt, velkommen til, mit navn er Alexander,
            <br /><br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit alias
            tenetur nostrum excepturi perferendis officia accusantium explicabo nemo
            voluptatem minima voluptatibus minus error, libero earum nulla molestias.
            Nihil, esse ipsam. Lorem ipsum dolor, sit amet consectetur adipisicing
            elit. Vel ea consectetur sunt excepturi eligendi. Commodi corrupti atque
            officia, eos nemo, odio repudiandae temporibus corporis fuga autem iste
            cum, dolor veritatis.
            <br /><br />
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores culpa
            nisi nesciunt.
          </p>
        </div>
        <div class="tab-window" data-tab-id="education">
          <h2>Min uddannelse</h2>

          <div class="timeline | flow">
            <div>
              <h3 class="">Folkeskolen</h3>
              <p class="">
                Færdiggører folkeskolens 9. klasse på VGE i Varde, efter at have
                gået på Favrdalskolen i Haderslev t.o.m 8. klasse
              </p>
              <span class="">2010 - 2020</span>
            </div>

            <div>
              <h3 class="">Gymnasiet</h3>
              <p class="">
                Færdiggører en højere handelseksamen (HHX), og dimitterer fra
                Det Blå Gymnasium på Haderslev Handelsskole
              </p>
              <span class="">2020 - 2023</span>
            </div>

            <div>
              <h3 class="">Værnepligt</h3>
              <p class="">
                Aftjener som værnepligtig i hæren på Varde Kaserne v. Forsvarets
                Efterretningsregiment, og gennemfører HBU
              </p>
              <span class="">August 2023 - November 2023</span>
            </div>

            <div>
              <h3 class="">Opkvalificering</h3>
              <p class="">
                Påbegynder opkvalificering i Fysik og Kemi i Aarhus med henblik
                på senere at læse til civilingeniør
              </p>
              <span class="text-xs">Februar 2024</span>
            </div>

            <div>
              <h3 class="">
                Civilingeniør <span class="text-xs">(Bachelor)</span>
              </h3>
              <p class="">
                Påbegynder en B.Sc i Matematik & Teknologi på DTU i København
              </p>
              <span class="">Sommerstart 2025</span>
            </div>
          </div>
        </div>
        <div class="tab-window" data-tab-id="skills">
          <div class=""><h2>Hvad jeg laver</h2></div>
        </div>
        <div class="tab-window" data-tab-id="experience">
          <div class=""><h2>Mine beskæftigelser</h2></div>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../sass/abstracts' as *;

  #profile {
    min-height: 100vh;
    background: rgb(75, 108, 183);
    background: linear-gradient(180deg, #0044c3 0%, #01266b 100%);

    @include mq(md) {
      background: linear-gradient(90deg, #0044c3 0%, #01266b 100%);
    }

    .profile-container {
      display: grid;
      --cols: 4;
      grid-template-columns: repeat(var(--cols), 1fr);
      grid-gap: 1rem;
      justify-content: center;

      @include mq(md) {
        --cols: 8;
      }

      @include mq(lg) {
        --cols: 12;
      }
    }

    .portrait {
      --span: 4;
      grid-column-end: span var(--span);

      @include mq(md) {
        grid-column-start: 3;
      }

      @include mq(lg) {
        grid-column-start: initial;
      }

      .portrait-wrapper {
        overflow: hidden;
        transition: all 650ms ease;

        img {
          transform: scale(103%);
          transition: filter 300ms linear, transform 700ms ease-in-out;
        }

        &:hover img {
          filter: grayscale(100%);
          transform: scale(102%);
        }

        border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
        @include mq(lg) {
          border-radius: 6rem 1.5rem 1.5rem 1.5rem;

          &:hover {
            border-radius: 5rem 1.5rem 1.5rem 1.5rem;
          }
        }
      }
    }

    .profile-tabs {
      --span: 4;
      grid-column: span var(--span);

      @include mq(md) {
        --span: 8;
      }
      .tabs {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25em;
        margin-bottom: 0.25rem;

        .tab {
          font-family: font-family(ubuntu-mono);
          text-transform: uppercase;
          letter-spacing: 0.1em;
          font-size: font-size(200);
          line-height: font-size(200);
          color: rgba(255, 255, 255, 0.6);
          background-color: rgba(0, 0, 0, 0.3);
          border: none;
          outline: none;
          border-radius: 50vw;
          padding: 0.3em 0.6em;
          margin: 0;
          cursor: pointer;

          &:focus,
          &:hover {
            color: rgba(255, 255, 255, 0.85);
            background-color: rgba(0, 0, 0, 0.425);
          }

          &:active {
            transform: scale(95%);
          }

          &.active {
            color: rgba(255, 255, 255, 1);
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
      }

      .tab-windows {
        & > * {
          display: none;
        }
      }

      .timeline {
        margin-top: 0.5rem;
        & > * {
          padding: 0.5rem 0.8rem;
          background-color: rgba(0, 0, 0, 0.425);
          border-radius: 0.75rem;

          font-size: font-size(400);

          h3 {
            font-size: font-size(400);
            text-transform: uppercase;
            letter-spacing: 0.05em;
          }

          span {
            font-size: font-size(100);
            font-style: italic;
          }
        }
      }
    }
  }
</style>

<script>
  const tabs = document.querySelectorAll('.tab'),
    tabWindows = document.querySelectorAll('.tab-window');

  tabs.forEach((t) => {
    t.addEventListener('click', (e) => {
      const tabTarget = t.dataset.tabTarget;
      openTab(tabTarget);
      tabs.forEach((b) => b.classList.remove('active'));
      t.classList.add('active');
    });
    t.click();
  });

  tabs[0].click();

  function openTab(tab) {
    tabWindows.forEach((t) => {
      const tabId = t.dataset.tabId;
      let display = 'none';
      if (tabId === tab) display = 'block';
      t.style.display = display;
    });
  }
</script>
