---

---

<div class="case">
	<div class="header"></div>
	<div class="body">
		<div class="text">
			<a style="color: #333" class="download | fs-300" href="/files/Blockchain%20i%20Finanssektoren.pdf" download><i class=" mr-1 | fa-solid fa-download"></i>Download rapporten her</a>
			<h3 class="title">Blockchain i Finanssektoren</h3>
			<p class="subtitle">Afsluttende studieområdeprojekt, HHX</p>
			<div class="description">
				<p>Som led i afslutningen på min HHX, skrev jeg i mit SOP-projekt om Blockchain-teknologiens anvendelse i Finanssektoren i fagene Matematik og Afsætning.</p>
				<p>Det var er udfordrende og spændende område, og indenfor fag der kræver fokus for at få dem til at spille sammen og danne den røde tråd.</p>
				<p> Overordnet set et tilfredsstillende projekt, men selvfølgelig med plads til forbedringspunkter.</p>
			</div>
		</div>
	</div>
</div>

<style lang="scss">
  @use '../styles/abstracts' as *;
	
	$case-width: 20rem;
	$case-gap: 1rem;
	
	.case {
		scroll-snap-align: start;
		min-height: $case-width*2;
		min-width: $case-width;
		background-color: color(neutral, '000');
		border-radius: 0.5rem;
		overflow: hidden;

		.header {
			height: 12.5rem;
			width: 100%;
			background-color: color(brand, '700');
			background-image: url('img/nationalbanken.webp');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
		a {
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
		.body {
			padding: 0.25rem 0.75rem 1rem 0.75rem;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			height: calc(100% - 12.5rem);

			.text {
				font-family: 'Ubuntu', sans-serif;

				.title {
					margin-top: .25rem;
					font-size: 1.2em;
				}

				.subtitle {
					text-transform: lowercase;
					font-family: 'Ubuntu Mono', sans-serif;
					font-size: 1em;
				}

				.description {
					margin-top: .75rem;
					font-size: .9em;

					& > * + * {
						margin-top: .35em;
					}

					a {
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}

			.tools {
				display: flex;
				gap: .35em;
				flex-wrap: wrap;
				align-items: center;

				img {
					height: 1.5em;
					width: auto;
				}
			}
		}

		
	}	
</style>