---
import Header from './Header.astro';
import Footer from './Footer.astro';
---

<div class="sidebar-wrapper">
  <aside id="sidebar" data-grid-layout="content">
    <div class="content-wrapper" data-grid-layout-width="breakout">
      <Header />
      <Footer />
    </div>
  </aside>
</div>

<style lang="scss">
  @use '../styles/abstracts/' as *;

  .sidebar-wrapper {
    position: relative;
    height: 100vh;
    min-width: var(--sidebar-length);
  }

  #sidebar {
    background-color: $sidebar-background-color;
    color: $sidebar-text-color;
    padding-block: $site-top-gap $site-bottom-gap;

    height: 100%;
    overflow: auto;
    position: fixed;

    .content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
</style>

<script type="module">
  // Select the element
  const sidebar = document.getElementById('sidebar');

  // Get the length (e.g., width or height)
  const length = sidebar?.getBoundingClientRect().width; // or use height

  // Set the CSS variable
  document.documentElement.style.setProperty('--sidebar-length', `${length}px`);
</script>
