---
import Header from './Header.astro';
import Footer from './Footer.astro';
---

<aside id="sidebar" data-grid-layout="content">
  <div class="content-wrapper" data-grid-layout-width="breakout">
    <Header />
    <Footer />
  </div>
</aside>

<style lang="scss">
  @use '../styles/abstracts/' as *;

  #sidebar {
    background-color: $sidebar-background-color;
    color: $sidebar-text-color;
    padding-block: $site-top-gap $site-bottom-gap;

    height: 100vh;
    overflow: auto;
    position: sticky;
    top: 0;

    .content-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
</style>

<script type="module">
  // TODO disavle this, and remove --sidebar-length from styles/base/_root.scss

  // Select the element
  const sidebar = document.getElementById('sidebar');

  // Get the length (e.g., width or height)
  const length = sidebar?.getBoundingClientRect().width; // or use height

  // Set the CSS variable
  document.documentElement.style.setProperty('--sidebar-length', `${length}px`);

  console.log('Length of sidebar (px):', length);
</script>
