---
const handEmoji = '👋';
---

<span class="wavingHandEmoji">{handEmoji}</span>

<style>
  .wavingHandEmoji {
    position: relative;
    display: inline-block;
    animation: waveAnimation 3s infinite;
  }

  @keyframes waveAnimation {
    0%,
    40%,
    100% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(35deg);
    }
    30% {
      transform: rotate(-15deg);
    }
  }
</style>
