---
const handEmoji = '👋';
---

<span class="wavingHandEmoji">{handEmoji}</span>

<style>
  .wavingHandEmoji {
    position: relative;
    display: inline-block;
    animation: waveAnimation 2.5s infinite;
  }

  @keyframes waveAnimation {
    0%,
    45%,
    100% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    27.5% {
      transform: rotate(35deg);
    }
  }
</style>
