---
import CopyToClipboard from '../misc/CopyToClipboard.astro';

import { getLangFromUrl, useTranslations } from '../../modules/i18n/index.mts';
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="flow-root | bg-neutral-150" style="position: relative;">
  <div class="container | my-32">
    <section class="flow text-center" style="--flow-space: .5rem;">
      <div>
        <h3 class="fs-700 fw-bold">{t('footer.contact.title')}</h3>
        <p>{t('footer.contact.subtitle')}</p>
      </div>
      <CopyToClipboard
        type="email"
        value="mail@alexandersandholdt.dk"
        size="24"
      />
    </section>

    <section id="logo-references" class="mt-12">
      <hr />

      <div
        id="logos"
        class="container even-columns | my-16"
        style="--grid-gap: 4em"
      >
        <div class="logo-wrapper | flex" data-flex="center">
          <a href="https://www.to-be-digital.dk" target="_blank"
            ><img src="/img/logos/tbd logo transparent.png" alt="" /></a
          >
        </div>
        <div class="logo-wrapper | flex" data-flex="center">
          <a href="https://estate.alexandersandholdt.dk/" target="_blank"
            ><img src="/img/logos/as-estate.png" alt="" /></a
          >
        </div>
      </div>

      <hr />
    </section>
  </div>

  <div id="legal-box" class="bg-brand-400">
    <small>dummy</small>
  </div>

  <div id="legal-statement">
    <!-- Legal: Copyright © (&copy;) 2023 Alexander Sandholdt | CVR: 43768085 (https://datacvr.virk.dk/enhed/virksomhed/43768085) -->
    <small>
      Copyright &copy;
      <span class="year">2004</span>
       Alexander Sandholdt |
      <a
        class="cvr"
        href={'https://datacvr.virk.dk/enhed/virksomhed/' + '43768085'}
        target="_blank">CVR: 43768085</a
      ></small
    >
  </div>
</footer>

<style lang="scss">
  @use '/../src/styles/abstracts' as *;

  footer {
  }

  #logo-references {
    #logos {
      $img-width: 15em;
      .logo-wrapper {
        a {
          max-width: 15em;
          height: auto;

          img {
            @include zoom;
          }
        }
      }
    }
  }

  $legal-spacing: 0.5rem;
  #legal-box,
  #legal-statement {
    font-family: font-family(merriweather-sans);
    font-size: 0.8em;
    line-height: 0.8em;
  }

  #legal-box {
    small {
      opacity: 0;
    }

    padding-block: $legal-spacing;
  }

  #legal-statement {
    position: fixed;
    bottom: $legal-spacing;
    left: 0;
    right: 0;
    z-index: 99;

    text-align: center;
    cursor: default;

    * {
      color: silver;
      text-decoration: none;
    }

    &:hover .cvr {
      text-decoration: underline;
    }
  }
</style>

<script>
  const dateSpan = document.querySelector('.year');
  dateSpan.innerHTML = new Date().getFullYear().toString();
</script>
