@use '../abstracts' as *;

.grid {
  display: grid;
}

.even-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);

  @include mq(md) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
