@use 'sass:map';
@use '../abstracts';

// VARIABLES

$font-sizes: (
  'xs': clamp(0.69rem, -0.03vw + 0.7rem, 0.68rem),
  'sm': clamp(0.83rem, 0.09vw + 0.81rem, 0.9rem),
  'base': clamp(1rem, 0.26vw + 0.93rem, 1.19rem),
  'md': clamp(1.2rem, 0.53vw + 1.07rem, 1.57rem),
  'lg': clamp(1.44rem, 0.91vw + 1.21rem, 2.08rem),
  'xl': clamp(1.73rem, 1.46vw + 1.36rem, 2.76rem),
  '2xl': clamp(2.07rem, 2.23vw + 1.51rem, 3.66rem),
  '3xl': clamp(2.49rem, 3.33vw + 1.66rem, 4.85rem),
  '4xl': clamp(2.99rem, 4.84vw + 1.77rem, 6.43rem),
  '5xl': clamp(3.58rem, 6.95vw + 1.85rem, 8.51rem),
  '6xl': clamp(4.3rem, 9.83vw + 1.84rem, 11.28rem),
);

$line-heights: (
  'xs': 1,
  'sm': 125%,
  'base': 150%,
  'md': 150%,
  'lg': 120%,
  'xl': 1,
  '2xl': 1,
  '3xl': 1,
  '4xl': 1,
  '5xl': 1,
);

// STYLES

@each $fontSize, $value in $font-sizes {
  .text-#{$fontSize} {
    font-size: $value;
    line-height: map.get($line-heights, $fontSize);
  }
}

$textTags-apply-sizes: (
  p: 'base',
  h1: '3xl',
  h2: '2xl',
  h3: 'xl',
  h4: 'lg',
  h5: 'md',
  h6: 'base',
);

@each $textTag, $size in $textTags-apply-sizes {
  #{$textTag} {
    font-size: map.get($font-sizes, $size);
    line-height: map.get($line-heights, $size);
  }
}
