@use 'alex22379' as *;
@use 'sass:map';

.pre-profile {
  /*background-image: url('/assets/img/backgrounds/Joomla.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;*/
  background: rgb(75, 108, 183);
  background: linear-gradient(
    180deg,
    rgba(75, 108, 183, 1) 0%,
    rgba(24, 40, 72, 1) 100%
  );

  @media screen and (min-width: map.get($device-breakpoints, 'lg')) {
    background: linear-gradient(
      90deg,
      rgba(75, 108, 183, 1) 0%,
      rgba(24, 40, 72, 1) 100%
    );
  }

  .portrait-wrapper {
    overflow: hidden;
    border-radius: 2rem 2rem 2rem 2rem;
    transition: all 500ms ease-out;
    max-width: 27.5rem;
    margin: 0 auto;

    img {
      max-width: inherit;
      height: auto;
      transition: filter 400ms ease-out, transform 600ms ease-out;
      transform: scale(103%);
    }

    &:hover {
      img {
        filter: grayscale(100%);
        transform: scale(101%);
      }
    }

    @media screen and (min-width: map.get($device-breakpoints, 'lg')) {
      border-radius: 8rem 2rem 2rem 2rem;
      &:hover {
        border-radius: 7rem 2rem 2rem 2rem;
      }
    }
  }

  #profile-tabs {
    .tabs-nav {
      margin-bottom: 0.5rem;

      ul {
        display: flex;
        gap: 0.25rem;
        list-style: none;
        overflow: hidden;

        li {
          button {
            font-size: 0.5em;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 0.175em;
            font-weight: 400;
            padding: 0.3rem 0.5rem;
            border-radius: 0.5rem;
            border: none;
            outline: none;
            cursor: pointer;

            color: rgba(255, 255, 255, 0.4);
            background: rgba(0, 0, 0, 0.25);
            &:hover {
              background: rgba(0, 0, 0, 0.35);
              color: rgba(255, 255, 255, 0.85);
            }

            &.active {
              color: rgba(255, 255, 255, 1);
              background: rgba(0, 0, 0, 0.45);
            }

            &:active {
              transform: scale(97%);
            }
          }
        }
      }
    }

    .tabs-content {
      .tab-window {
        display: none;
      }

      .tab-window[data-tab-id='education'] {
        .timeline {
          padding: 0 0 0 1rem;
          margin: 0 0 0 0.5rem;
          border-left: solid 3px white;

          div {
            background: rgba(0, 0, 0, 0.25);
            border-radius: 0.5rem;
            margin: 1rem 0;
            padding: 0.5rem 0.75rem;
            width: min(100%, 40rem);
            position: relative;

            &::before {
              content: '';
              height: 0.65rem;
              width: 0.65rem;
              border-radius: 0.7rem;
              background-color: white;
              position: absolute;
              top: 0.7625rem;
              left: -1.4rem;
            }

            &::after {
              content: '';
              background: rgba(0, 0, 0, 0.25);
              width: 0.65rem;
              height: 0.65rem;
              position: absolute;
              transform: rotate(45deg);
              top: 0.5rem + 0.65rem/2;
              left: -0.3rem;
            }

            h3 {
              text-transform: uppercase;
              letter-spacing: 0.05em;

              span {
                text-transform: initial;
                font-weight: 500;
              }
            }

            p {
              margin-block: 0.25rem 0.5rem;
            }

            h4 {
              font-style: italic;
              font-weight: 400;
            }
          }
        }
      }
    }
  }
}
