---
import { Icon } from 'astro-icon';

import Case from './PortfolioCase.astro';
---

<section id="portfolio" class="page-section">
  <div class="container flow | my-32">
    <div class="text-center">
      <h2 class="fs-700 fw-bold">Portefølje</h2>
      <p>Et lille udvalg af diverse projekter i diverse kategorier</p>
    </div>
    <div class="cases-slider">
      <button class="chevron left"
        ><Icon name="mdi:chevron-left" height="110" /></button
      >
      <div class="cases-wrapper">
        <div class="cases">
          <Case
            id="this"
            title="alexandersandholdt.dk"
            subtitle="Min personlige hjemmeside"
            cta={{
              faIcon: 'fa-solid fa-arrow-up-right-from-square',
              prompt: 'Find på GitHub',
              link: 'https://github.com/alex22379/alexandersandholdt.dk',
            }}
            banner="/img/haderslevhavn.jpg"
          >
            <div slot="body">
              <p>
                Hjemmesiden du sidder på netop nu, er kodet og opbygget fra
                bunden med frameworket <a
                  href="https://astro.build"
                  target="_blank">Astro</a
                >.
              </p>
              <p>
                Siden er skabt med fokus på <i>den enkelte detalje</i>, <i
                  >en effektiv kompetence- og identitsformidling</i
                > og selvfølgelig også med <i
                  >ydeevne, brugervenlighed og optimering</i
                > for øje - og dertil en masse kærlighed og omhu.
              </p>
            </div>
            <div slot="footer" class="thisCase-footer">
              <Icon name="logos:html-5" />
              <Icon name="logos:css-3" />
              <Icon name="logos:javascript" />
              <Icon name="logos:typescript-icon" />
              <Icon name="logos:astro" />
            </div>
          </Case>
          <Case
            id="sop"
            title="Blockchain i Finanssektoren"
            subtitle="Afsluttende studieområdeprojekt, HHX"
            cta={{
              faIcon: 'fa-solid fa-download',
              prompt: 'Download rapporten her',
              link: '/files/Blockchain%20i%20Finanssektoren.pdf',
            }}
            banner="/img/nationalbanken.webp"
          >
            <div slot="body">
              <p>
                Som led i afslutningen på min HHX, skrev jeg i mit SOP-projekt
                om Blockchain-teknologiens anvendelse i Finanssektoren, i fagene
                Matematik og Afsætning.
              </p>
              <p>
                Det var et udfordrende og spændende område, og med fag der
                krævede fokus, for at få dem til at spille sammen og samlet
                danne den røde tråd.
              </p>
              <p>
                Overordnet set et tilfredsstillende projekt, men selvfølgelig
                med plads til forbedringspunkter.
              </p>
            </div>
          </Case>
          <Case
            id="to-be-digital"
            title="To-Be-Digital"
            subtitle="Dansk webbureau"
            cta={{
              faIcon: 'fa-solid fa-arrow-up-right-from-square',
              prompt: 'Besøg hjemmesiden',
              link: 'https://www.to-be-digital.dk',
            }}
          >
            <div slot="body">
              <p>
                Jeg startede To-Be-Digital ultimo 2023, med formålet om at skabe
                et webbureau til enkeltpersoner og mindre virksomheder.
              </p>
              <p>
                Vi specialiserer os hovedsagligt i, at udvikle og levere
                hjemmesider. Dette omfatter både personlige-, portefølje- og
                karrierehjemmesider - men også mindre identitetsformidlende
                hjemmesider til virksomheder, organisationer/foreninger eller
                kultursteder.
              </p>
              <p>
                Derudover hjælper vi med alle slags digitale opgaver mellem
                himmel og jord; alt fra grafik til mailopsætning til hjælp med
                nyhedsbreve.
              </p>
            </div>
          </Case>
          <!-- <Case id="empty2" /> -->
        </div>
      </div>
      <button class="chevron right"
        ><Icon name="mdi:chevron-right" height="110" />
      </button>
    </div>
  </div>

  <style lang="scss">
    @use '/../src/styles/abstracts' as *;

    .thisCase-footer {
      display: flex;
      gap: size(2.5);
      flex-wrap: wrap;
      align-items: center;

      img,
      [astro-icon] {
        height: 1.5em;
        width: auto;
      }
    }

    .cases-slider {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: size(4);

      .chevron {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;

        display: none;

        @include mq(lg) {
          display: initial;
        }
      }

      .cases-wrapper {
        overflow: hidden;

        .cases {
          display: flex;
          gap: size(4);
          overflow-x: auto;
          scroll-snap-type: x mandatory;
          &::-webkit-scrollbar {
            display: none;
          }
          padding-top: size(1);
        }
      }
    }
  </style>

  <script>
    const cases = document.querySelector('.cases');
    const left = document.querySelector('.left');
    const right = document.querySelector('.right');

    left?.addEventListener('click', (e) => {
      cases?.scrollBy({ left: -200, behavior: 'smooth' });
      //document.querySelector('#case-4')?.scrollIntoView(false, {behavior: 'smooth' });
    });

    right?.addEventListener('click', (e) => {
      cases?.scrollBy({ left: 200, behavior: 'smooth' });
    });

    import isTouchEnabled from '../../../scripts/isTouchEnabled.js';

    if (isTouchEnabled()) {
      const scrollItems = document.querySelectorAll('.case');

      const observerOptions = {
        root: document.querySelector('.cases'),
        rootMargin: '0px',
        threshold: 0.5, // Adjust this threshold as needed
      };

      const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            // The item is in focus, you can apply focus styles or perform other actions here.
            entry.target.classList.add('hover');
          } else {
            entry.target.classList.remove('hover');
          }
        });
      }, observerOptions);

      scrollItems.forEach((item) => {
        observer.observe(item);
      });
    }
  </script>
</section>
