---
const { lang = 'da' } = Astro.props;
---

<!-- Heavily inspired by https://kenneth.io/ -->
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Alexander Sandholdt</title>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <header id="sidebar">
      <div id="site-brand">
        <div class="brand-visual">
          <img src="" alt="" />
        </div>
        <div class="brand-name"></div>
      </div>
      <nav>
        <ul>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/projektor">Projekter</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
