---
// Supports weights 300-800
// font-family: 'Merriweather Sans Variable', sans-serif;
import '@fontsource-variable/merriweather-sans';

// font-family: 'Ubuntu', sans-serif;
import '@fontsource/ubuntu/300.css';
import '@fontsource/ubuntu/400.css';
import '@fontsource/ubuntu/500.css';
import '@fontsource/ubuntu/700.css';

// font-family: 'Ubuntu Mono', sans-serif;
import '@fontsource/ubuntu-mono/400.css';
import '@fontsource/ubuntu-mono/700.css';

// styles
import '../styles/style.scss';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import LangSwitch from '../components/LangSwitch.astro';

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="da_DK">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <!-- Font Awesome -->
    <script
      src="https://kit.fontawesome.com/c5902196a7.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
