---
import '../styles/style.scss';

import { ViewTransitions } from 'astro:transitions';

import BaseLayoutBodyLg from './BaseLayoutBodyLg.astro';
import BaseLayoutBodySm from './BaseLayoutBodySm.astro';

const { lang = 'da', title, frontmatter } = Astro.props;
---

<!-- Heavily inspired by https://kenneth.io/ -->
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {
        (title !== undefined
          ? `${title} | `
          : frontmatter.title !== undefined
            ? `${frontmatter.title} | `
            : '') + 'Alexander Sandholdt'
      }
    </title>
    <meta
      name="description"
      content="Alexander Sandholdts personlige hjemmeside - læs kort om mig, udforsk mine projektor, besøg min blog og/eller forbind med mig på diverse medier."
    />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- <ViewTransitions /> -->
  </head>
  <body>
    <div class="body-lg"><BaseLayoutBodyLg><slot /></BaseLayoutBodyLg></div>
    <div class="body-sm"><BaseLayoutBodySm><slot /></BaseLayoutBodySm></div>

    <style lang="scss">
      @use '../styles/abstracts/' as *;

      .body-sm {
        display: none;
      }

      @media only screen and (max-width: $content-max-width*1.5) {
        .body-lg {
          display: none;
        }

        .body-sm {
          display: initial;
        }
      }
    </style>
  </body>
</html>
