---
import '../styles/style.scss';

import Sidebar from '@/components/Sidebar.astro';

const { lang = 'da' } = Astro.props;
---

<!-- Heavily inspired by https://kenneth.io/ -->
<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Alexander Sandholdt</title>

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
  </head>
  <body>
    <Sidebar />

    <main>
      <div class="content-wrapper">
        <slot />
      </div>
    </main>

    <style lang="scss">
      @use '../styles/abstracts/' as *;

      body {
        display: flex;
        min-height: 100vh;

        .content-wrapper {
          margin: 1.25rem 1.5rem 0rem 1.5rem;
          max-width: 80ch;
        }
      }
    </style>
  </body>
</html>
