---
import { Icon } from 'astro-icon/components';

const { value } = Astro.props;
---

<span class="copy-to-clipboard">
  <span class="to-copy">{value}</span>
  <button title="Kopier til udklipsholder"
    ><Icon name="mdi:content-copy" /></button
  >
</span>

<style lang="scss">
  .copy-to-clipboard {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.175em;
    background: #f2f2f2;
    padding: 0 0.275em;
    border-radius: 0.25em;

    .to-copy {
      font-family: font-family(mono);
      font-size: 0.9em;
      color: #444;
    }

    button {
      background: none;
      border: none;
      outline: none;
      cursor: copy;

      [data-icon] {
        font-size: 0.8em;
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }
</style>

<script>
  import { pushNotification } from '@/scripts/pushNotification.module';

  const ctcList = document.querySelectorAll('.copy-to-clipboard');
  ctcList.forEach((ctc) => {
    const button = ctc.querySelector('button');
    button?.addEventListener('click', (e) => {
      const toCopy = ctc.querySelector('span.to-copy')?.textContent;

      navigator.clipboard
        .writeText(toCopy!)
        .then(() => {
          pushNotification('kopieret til udklipsholder');
        })
        .catch((err) => {
          console.error('Failed to copy text: ', err);
        });
    });
  });
</script>
